<script language="JavaScript">
window.location='/Wikipedia/WikipediaPage'
</script>

</div>
<ul id="home" selected="true" title="Wikipedia">  
  <li><a href="WikipediaPage/index?search=::Home">Go</a></li>
</ul>
