
<div class="toolbar">
  <span class="left_button"><a href="/" onclick="closeHistory(); return false;" class="button">Close</a></span>
  <h1 id="pageTitle">History</h1>
  <span class="right_button"><a href="/" onclick="clearHistory(); return false;" class="button">Clear</a></span>
</div>

<div id="history">
  <ul>
  <% @pages.each do |page| %>
    <li><%= "<a href=\"WikipediaPage?search=#{Rho::RhoSupport.url_encode(page.question)}\">#{page.question.gsub('_', ' ')}</a>" %></li>
  <% end %>
  </ul>
</div>