<div>
	<form id="search_form" method="POST" action="<%=url_for(:action => :fetch)%>">
		<span class="left" />
	  <input type="text" name="id" value="<%= @search.gsub('_', ' ') %>"/>
		<span class="right" />
		<div class="clearer"></div>
	</form>
		
  <% if @data.nil? %>
    <div id="loading">
      <img src="/app/css/ajax-loader.gif" />
      Page Loading...
    </div>
  <% else %>
    <div id="content">
      <%= @data %>
    </div>
  <% end %>
	
</div>
